body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  background-image: url('toptar3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  
}

.ima {
  width: 3%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
}


.group {
  width: 3%;
  position: fixed;
  top: 0;
  left: 46.5%;
  color: white;
  margin: 10px;
  font-weight: 600;

  font-size: 40px;

}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 1.2s ease-in-out;
  margin-top: 150px;

}

.circle:hover {
  transform: scale(1.15);
}

.word {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

button {
  margin-top: 20px;
  width: 110px;
  padding: 10px 20px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out, box-shadow 0.8s ease-in-out;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover {
  transform: scale(0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#counter {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}

#found {
  background-color: #4CAF50;
}

#not-found {
  background-color: #f44336;
}

a {
  text-decoration: none;
}

input[type=range] {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 30%;
  background-color: transparent;
  display: inline-block;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 3px #000000;
  background: linear-gradient(90deg, #F0B64D 1.98%, #D778B3 43.89%, #5E6BF5 87.36%);
  border-radius: 1px;
  border: 1px solid #010000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 2px 1px #000031;
  border: 1px solid #00001E;
  height: 23px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
/* input[type=range]:focus::-webkit-slider-runnable-track {

} */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 3px #000000;
  background: #c6bcaa;
  border-radius: 1px;
  border: 1px solid #010000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2px 2px 1px #000031;
  border: 1px solid #00001E;
  height: 23px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #FFA500;
  border: 1px solid #010000;
  border-radius: 2px;
  box-shadow: 0px 0px 3px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #FFA500;
  border: 1px solid #010000;
  border-radius: 2px;
  box-shadow: 0px 0px 3px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 2px 2px 1px #000031;
  border: 1px solid #00001E;
  height: 23px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FFA500;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FFA500;
}


#time, #sozder{
  width: 20%;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(64, 64, 60);
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider {
  background: linear-gradient(90deg, #F0B64D 1.98%, #D778B3 43.89%, #5E6BF5 87.36%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #283743;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.pun{
  align-items: center;
  display: flex;
  justify-content: space;
}

.pun p{
  background-color: linear-gradient(90deg, #F0B64D 1.98%, #D778B3 43.89%, #5E6BF5 87.36%);
  color: linear-gradient(90deg, #F0B64D 1.98%, #D778B3 43.89%, #5E6BF5 87.36%);
  padding-right: 50px;
}

label{
  color: rgb(255, 255, 255);
}

