body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    background-image: url('toptar3.jpg');
    background-repeat: no-repeat;
    
    background-size: cover;
    font-family: "Sofia", sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    text-align: center;
    background-color: rgba(191, 186, 206, 0.387);
    border-radius: 25px;
}

.font-effect-shadow-multiple {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #241d1d;
    margin: 0 0 30px;
    text-align: center;
}

 .input {
    width: 70%;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.status-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.status-container .status {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 23%;
    border-radius: 50%;
    /* box-shadow: 0 2px 40px rgba(0, 0, 0, .1); */
}

/* .status-container .status.correct {
    background-color: #5cb85c;  
    color: #5cb85c;
}
.status-container .status.incorrect {
    background-color: #d9534f;
    color: #d9534f;
} */
.status-container .word{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
}


.status-container .word.correct{
    color:rgb(44, 201, 97);
}

.status-container .word.incorrect{
    color:rgb(239, 87, 87);
}



/* For iPhone 12 */
@media only screen and (max-width: 390px) {
    .container {
        width: 90%;
        padding: 30px 0;
    }

    .font-effect-shadow-multiple {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .input {
        width: 90%;
        font-size: 20px;
        padding: 8px 16px;
    }

    .status-container .status {
        width: 30%;
    }

    .status-container .word {
        font-size: 16px;
    }
    body{   
        background-image: url('whiteback.png');
    }
}





.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #480b66;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #461454;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }